.begin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form__style {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__h1 {
  margin-top: 50px;
}
